<form action="{{ Action }}" method="post">
    <input type="hidden" name="ServiceId"           value="{{ ServiceId }}" />
    <input type="hidden" name="AccountNo"           value="{{ AccountNo }}" />
    <input type="hidden" name="Amount"              value="{{ Amount }}" />
    <input type="hidden" name="Currency"            value="{{ Currency }}" />
    <input type="hidden" name="Info"                value="{{ Info }}" />
    <input type="hidden" name="Signature"           value="{{ Signature }}" />
    <input type="hidden" name="ReturnType"          value="{{ ReturnType }}" />
    <input type="hidden" name="ReturnUrl"           value="{{ ReturnUrl }}" />
    <input type="hidden" name="FailUrl"             value="{{ FailUrl }}" />
    <div class="buttons">
        <div class="pull-right">
            <input type="submit" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary" />
        </div>
    </div>
</form>
