{{ header }}{{ column_left }}

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-express-pay" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i> {{ button_save }}</button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i> {{ button_cancel }}</a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dimdiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }} V {{ version_extension }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" name="form-express-pay" id="form-express-pay" class="form-horizontal">
                    <!-- Название метода оплаты -->
                    <div class="form-group required">
                        <label class="col-md-3 control-label" for="payment_card_expresspay_name_payment_method"><span data-toggle="tooltip" title="{{ namePaymentMethodTooltip }}">{{ namePaymentMethodLabel }}</span></label>
                        <div class="col-md-9 col-lg-6">
                            <input type="text" name="payment_card_expresspay_name_payment_method" value="{{ payment_card_expresspay_name_payment_method }}" placeholder="{{ namePaymentMethodLabel }}" class="form-control" />
                            {% if error_name_payment_method %}
                                <div class="text-danger">{{ error_name_payment_method }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Использовать тестовый режим -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="payment_card_expresspay_is_test_mode">{{ useTestModeLabel }}</label>
                        <div class="col-md-9 col-lg-6">
                            <input type='checkbox' name='payment_card_expresspay_is_test_mode' id="expresspay_is_test_mode" {{ payment_card_expresspay_is_test_mode is defined and payment_card_expresspay_is_test_mode == 1 ? 'checked="checked"' : '' }} />
                        </div>
                    </div>
                    <!-- ТОКЕН -->
                    <div class="form-group required">
                        <label class="col-md-3 control-label" for="payment_card_expresspay_token "><span data-toggle="tooltip" title="{{ tokenTooltip }}">{{ tokenLabel }}</span></label>
                        <div class="col-md-9 col-lg-6">
                            <input type="text" name="payment_card_expresspay_token" id="expresspay_token" value="{{ payment_card_expresspay_token }}" placeholder="{{ tokenLabel }}" class="form-control" />
                            {% if error_token %}
                                <div class="text-danger">{{ error_token }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Номер услуги -->
                    <div class="form-group required">
                        <label class="col-md-3 control-label" for="payment_card_expresspay_service_id"><span data-toggle="tooltip" title="{{ serviceIdTooltip }}">{{ serviceIdLabel }}</span></label>
                        <div class="col-md-9 col-lg-6">
                            <input type="text" name="payment_card_expresspay_service_id" id="expresspay_service_id" value="{{ payment_card_expresspay_service_id }}" placeholder="{{ serviceIdLabel }}" class="form-control" />
                            {% if error_service_id %}
                                <div class="text-danger">{{ error_service_id }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Секретное слово -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="payment_card_expresspay_secret_word"><span data-toggle="tooltip" title="{{ secretWordTooltip }}">{{ secretWordLabel }}</span></label>
                        <div class="col-md-9 col-lg-6">
                            <input type="text" name="payment_card_expresspay_secret_word" id="expresspay_secret_word" value="{{ payment_card_expresspay_secret_word }}" placeholder="{{ secretWordLabel }}" class="form-control" />
                        </div>
                    </div>
                    <!-- Использовать цифровую подпись для уведомлений -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="payment_card_expresspay_is_use_signature_for_notification">{{ useSignatureForNotificationLabel }}</label>
                        <div class="col-md-9 col-lg-6">
                            <input type='checkbox' name='payment_card_expresspay_is_use_signature_for_notification'  {{ payment_card_expresspay_is_use_signature_for_notification is defined and payment_card_expresspay_is_use_signature_for_notification == 1 ? 'checked="checked"' : '' }} />
                        </div>
                    </div>
                    <!-- Секретное слово для уведомлений -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="payment_card_expresspay_secret_word_for_notification"><span data-toggle="tooltip" title="{{ secretWordNotificationTooltip }}">{{ secretWordNotificationLabel }}</span></label>
                        <div class="col-md-9 col-lg-6">
                            <input type="text" name="payment_card_expresspay_secret_word_for_notification" value="{{ payment_card_expresspay_secret_word_for_notification }}" placeholder="{{ secretWordNotificationLabel }}" class="form-control" />
                        </div>
                    </div>
                    <!-- Адрес для уведомлений -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="payment_card_expresspay_url_notification"><span data-toggle="tooltip" title="{{ urlForNotificationTooltip }}">{{ urlForNotificationLabel }}</span></label>
                        <div class="col-md-9 col-lg-6">
                            <input type="text" name="payment_card_expresspay_url_notification" value="{{ payment_card_expresspay_url_notification }}" readonly placeholder="{{ urlForNotificationLabel }}" class="form-control" />
                        </div>
                    </div>

                    <!-- Адрес API -->
                    <div class="form-group required">
                        <label class="col-md-3 control-label" for="payment_card_expresspay_api_url"><span data-toggle="tooltip" title="{{ urlApiTooltip }}">{{ urlApiLabel }}</span></label>
                        <div class="col-md-9 col-lg-6">
                            <input type="text" name="payment_card_expresspay_api_url" value="{{ payment_card_expresspay_api_url }}" placeholder="{{ urlApiLabel }}" class="form-control" />
                            {% if error_api_url %}
                                <div class="text-danger">{{ error_api_url }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Адрес тестового API -->
                    <div class="form-group required">
                        <label class="col-md-3 control-label" for="payment_card_expresspay_sandbox_url"><span data-toggle="tooltip" title="{{ urlSandboxTooltip }}">{{ urlSandboxLabel }}</span></label>
                        <div class="col-md-9 col-lg-6">
                            <input type="text" name="payment_card_expresspay_sandbox_url" value="{{ payment_card_expresspay_sandbox_url }}" placeholder="{{ urlSandboxLabel }}" class="form-control" />
                            {% if error_sandbox_url %}
                                <div class="text-danger">{{ error_sandbox_url }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Информация о платеже -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="payment_card_expresspay_info"><span data-toggle="tooltip" title="{{ infoTooltip }}">{{ infoLabel }}</span></label>
                        <div class="col-md-9 col-lg-6">
                            <input type="text" name="payment_card_expresspay_info" value="{{ payment_card_expresspay_info }}" placeholder="{{ infoLabel }}" class="form-control" />
                        </div>
                    </div>
                    <!-- Сообщение при успешном создании счёта -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="payment_card_expresspay_message_success"><span data-toggle="tooltip" title="{{ messageSuccessTooltip }}">{{ messageSuccessLabel }}</span></label>
                        <div class="col-md-9 col-lg-6">
                            <input type='text' name='payment_card_expresspay_message_success' value='{{ payment_card_expresspay_message_success }}' placeholder="{{ messageSuccessLabel }}" class="form-control" />
                        </div>
                    </div>

                    <!-- Статус -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="input-status">{{ entryStatus }}</label>
                        <div class="col-md-9 col-lg-6">
                            <select name="payment_card_expresspay_status" id="input-status" class="form-control">
                                {% if payment_card_expresspay_status %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <!-- Порядок сортировки -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="input-sort-order">{{ entrySortOrder }}</label>
                        <div class="col-md-9 col-lg-6">
                            <input type="text" name="payment_card_expresspay_sort_order" value="{{ payment_card_expresspay_sort_order }}" placeholder="{{ entrySortOrder }}" id="input-sort-order" class="form-control" />
                        </div>
                    </div>

                    <!-- Статус нового заказа -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="payment_card_expresspay_processed_status_id"><span data-toggle="tooltip" title="{{ processedOrderStatusTooltip }}">{{ processedOrderStatusLabel }}</span></label>
                        <div class="col-md-9 col-lg-6">
                            <select name="payment_card_expresspay_processed_status_id" id="payment_card_expresspay_processed_status_id" class="form-control">
                                {% for order_status in order_statuses %}
                                    {% if order_status.order_status_id == payment_card_expresspay_processed_status_id %}
                                        <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                    {% else %}
                                        <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- Статус оплаченого заказа -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="payment_card_expresspay_success_status_id"><span data-toggle="tooltip" title="{{ successOrderStatusTooltip }}">{{ successOrderStatusLabel }}</span></label>
                        <div class="col-md-9 col-lg-6">
                            <select name="payment_card_expresspay_success_status_id" id="payment_card_expresspay_success_status_id" class="form-control">
                                {% for order_status in order_statuses %}
                                    {% if order_status.order_status_id == payment_card_expresspay_success_status_id %}
                                        <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                    {% else %}
                                        <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- Статус ошибки при заказе -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="payment_card_expresspay_fail_status_id"><span data-toggle="tooltip" title="{{ failOrderStatusTooltip }}">{{ failOrderStatusLabel }}</span></label>
                        <div class="col-md-9  col-lg-6">
                            <select name="payment_card_expresspay_fail_status_id" id="payment_card_expresspay_fail_status_id" class="form-control">
                                {% for order_status in order_statuses %}
                                    {% if order_status.order_status_id == payment_card_expresspay_fail_status_id %}
                                        <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                    {% else %}
                                        <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery("#expresspay_is_test_mode").change(function(event) {
        if (event.currentTarget.checked) {
            jQuery("#expresspay_token").val("a75b74cbcfe446509e8ee874f421bd68");
            jQuery("#expresspay_service_id").val("6");
            jQuery("#expresspay_secret_word").val("sandbox.expresspay.by");
        } 
        else{
            jQuery("#expresspay_token").val("");
            jQuery("#expresspay_service_id").val("");
            jQuery("#expresspay_secret_word").val("");
        }
    });
</script>
{{ footer }}